/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


 @import url('https://fonts.googleapis.com/css?family=Raleway');

 body {
 font-family: 'Raleway', sans-serif;
 font-weight: 900;
 background-color: #000;
 font-size: large;

 }

 .btn.btn-primary {
   &:hover {
  cursor: pointer;
  background-color:#00C6FF;
}
  background-color: #00b3e6;
}

.flatiron-bg {
  background-color: #efefef;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.flatiron-bg::after {
  content: "";
  height:100%;
  width:100%;
  background: url(flatiron-bg.jpg);
  background-size:cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  opacity: .2;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position:fixed;
  z-index: -1;
  display:block;
}

.signup, .login {
.form_container {
  letter-spacing:1px;
  h2, label {
  }
  color:#000;
}
h4 {
  padding:1em 0;
}
h1, h2, h3, h4 {
  color:#000;
}
.jumbotron {
  background-color: transparent;
}

}
.bg-dark {
    background-color: #000 !important;
}

footer {
  &.row {
    margin-left:0px;
    margin-right:0px;
  }
  color:#fff;
  background-color: #000;
  height:50px;
  position: fixed;
  bottom:0;
  width:100%;
  padding-top:15px;
}
